@keyframes flash {
  0%  { background-color: rgba(200, 200, 200, 0) }
  33% { background-color: rgba(200, 200, 200, 1) }
  67% { background-color: rgba(200, 200, 200, 0) }
  100% { background-color: rgba(200, 200, 200, 1) }
}

.counter{
  transition: all 0.1s ease;
  &.selected{
    background-color: #bada55;
    animation: flash 0.4s 1;
  }
}
